<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" requirePermission="false"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <castle>
    <include uri="file://Config/services.config"/>
  </castle>
  <location path="Upload">
    <system.web>
      <httpRuntime maxRequestLength="10485760"/>
    </system.web>
  </location>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PhysicalSiteDataDirectory" value="D:\UploadData"/>
    <add key="ipSecurity" value="117.6.78.102"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="15100"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="/">
      <error statusCode="403" redirect="/Home/Unauthorized"/>
      <error statusCode="401" redirect="/Home/Unauthorized"/>
    </customErrors>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600"/>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
      <add type="IdentityManagement.Authorization.FanxiAuthenticationModule, IdentityManagement" name="FanxiAuthenticationModule"/>
    </httpModules>
    <roleManager enabled="true"/>
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
      <add type="IdentityManagement.Authorization.FanxiAuthenticationModule, IdentityManagement" name="FanxiAuthenticationModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760"/>
      </requestFiltering>      
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Config">
    <system.web>
      <authorization>
        <deny users="*"/>
        <!-- Denies all users -->
      </authorization>
    </system.web>
  </location>
  <location path="log">
    <system.web>
      <authorization>
        <deny users="*"/>
        <!-- Denies all users -->
      </authorization>
    </system.web>
  </location>
</configuration>